<div class="card">
    <a ng-href="#/tab/artist/{{artwork.artistName}}" class="item item-avatar">
        <img ng-src={{artwork.artistAvatar}}>

        <h2>{{artwork.title}}</h2>

        <p>{{artwork.artistName}}</p>
    </a>
    <div class="item item-image">
        <img ng-src={{artwork.artworkUrl}}>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            {{artwork.likes}}
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
        </a>
        <a class="tab-item" href="#">
            <i class="icon ion-ios7-cart"></i>
            {{artwork.deposit | currency : artwork.currency}}
        </a>
    </div>
</div>