<ion-view title="{{artistPageTitle}}">
    <ion-content has-header="true" padding="true">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" ng-src="{{artist.artistAvatar}}">
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-home"></i>
                {{artist.location}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-happy"></i>
                {{artist.happyCustomers}} happy customers!
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-clipboard"></i>
                A member since {{artist.joinDate}}!
            </div>

            <a href="#/tab/artist/{{artwork.artistName}}" class="item item-icon-left">
                <i class="icon ion-ios7-chatboxes"></i>
                Send {{artist.artistName}} a message!
            </a>
        </div>

        <div class="card">
            <div class="item item-divider" align="center">
                {{artist.artistName}}'s available artworks
            </div>
        </div>

        <div ng-repeat="art in artistArtworks">
            <artwork-card artwork=art></artwork-card>
        </div>

    </ion-content>
</ion-view>